In [6]:
from pathlib import Path

import pandas as pd

DATASETS = ["arxiv_2023", "ogbn-arxiv", "cora", "pubmed"]
SEEDS = range(4)
MODELS = ["MLP", "GCN", "SAGE", "RevGAT", "LM"]
FEATURES = ["TA", "P", "E", "None"]


RESULT_DIR = Path(f"sep_cas_rets")

def get_result_path(dataset: str, seed: int, model: str, feature: str, split: str) -> Path:
    return RESULT_DIR / f"{dataset}/{seed}/{model}" / f"{feature}_raw_change_{split}.csv"

In [16]:
result_df = pd.DataFrame()
for dataset in DATASETS:
    for model in MODELS:
        for feature in FEATURES:
            df = pd.DataFrame()
            for seed in SEEDS:
                result_path = get_result_path(dataset, seed, model, feature, "test")
                new_df = pd.read_csv(result_path)
                new_df = new_df.sum(axis=0).to_frame().T
                df = pd.concat([df, new_df], axis=0)
            df = df.mean(axis=0)
            df["dataset"] = dataset
            df["model"] = model
            df["feature"] = feature
            result_df = pd.concat([result_df, df.to_frame().T], axis=0)
result_df = result_df.set_index(["dataset", "model", "feature"])
result_df.to_csv("analysis.csv")
result_df

                          None-C    C-S    FT    TF     NT     TN     NF  \
dataset    model  feature
arxiv_2023 MLP    TA         9.0  40.25  3.75  1.75  100.0  19.25  61.75
                  P          0.0   53.0   0.0   0.0  190.0    0.0  137.0
                  E        27.25   13.5   1.5  2.25   24.5   60.5  10.25
                  None       0.0  26.75   0.0   0.0   48.0    0.0  21.25
           GCN    TA         0.0  23.75   0.0   0.0   54.0    0.0  30.25
...                          ...    ...   ...   ...    ...    ...    ...
pubmed     RevGAT None       0.0   -0.5   0.0   0.0   2.25    0.0   2.75
           LM     TA         0.0   4.75   0.0   0.0   10.5    0.0   5.75
                  P          0.0   1.75   0.0   0.0   4.25    0.0    2.5
                  E          0.0   1.25   0.0   0.0    8.0    0.0   6.75
                  None       0.0    4.0   0.0   0.0   23.0    0.0   19.0

                             FN       NN
dataset    model  feature
arxiv_2023 MLP    TA       8.25  9045.25
                  P         0.0   8913.0
                  E        34.0   9107.0
                  None      0.0  9170.75
           GCN    TA        0.0  9155.75
...                         ...      ...
pubmed     RevGAT None      0.0   3939.0
           LM     TA        0.0  3927.75
                  P         0.0  3937.25
                  E         0.0  3929.25
                  None      0.0   3902.0

[80 rows x 9 columns]